/**
 * MENU DE RESTAURANT
 * Nom de l'étudiant : Aline Teresa Manoukian
 * Date : 2 février 2026

   Instructions complètes ici: https://tim-montmorency.com/compendium/582-211-web2/exercices/cours3-menu-resto/index.html
 */

/* ========================================
   RÉINITIALISATION DE BASE
   ======================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: "Tinos", serif;
    line-height: 1.6;
    color: #F5EBE0;
    background-color: #6E0C19;
}

/* ========================================
   VOTRE CODE CSS ICI
   ======================================== */

h1 {
    display: block;
    text-align: center;
    position: relative;
}

hr {
    border: none;
    height: 2px;
    width: 50%;
    margin: 20px auto;
    background-color: #4F000B;
}

h2 {
     font-size: 32px;
     font-weight: lighter;
}
p {
    display: inline;
    font-size: 20px;

}

.entrees {
    text-align: center;
    align-items: center;
    line-height: 1.9rem;
}
.entrees:hover{
background-color: rgb(87, 5, 5);
}
.plats {
    font-weight: bold;
    text-align: center;
    line-height: 2rem;
    font-size: 19px;
}

.ul {
    list-style-type: none;

}

.dessert {
    text-align: center;
    display: block;
    line-height: 2rem;
}

.dessert:hover{
  background-color: rgb(87, 5, 5);

}

.principaux {
    text-align: center;
    display: block;
    line-height: 2rem;
}
.principaux:hover{
  background-color: rgb(87, 5, 5);

}
.bleuets {
     font-size: 32px;
}
