/**
 * MENU DE RESTAURANT
 * Nom de l'étudiant : Aline Teresa Manoukian
 * Date : 2 février 2026

   Instructions complètes ici: https://tim-montmorency.com/compendium/582-211-web2/exercices/cours3-menu-resto/index.html
 */

/* ========================================
   RÉINITIALISATION DE BASE
   ======================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: "Tinos", serif;
    line-height: 1.6;
    color: #F5EBE0; 
    background-color: #880D1E;
}

/* ========================================
   VOTRE CODE CSS ICI
   ======================================== */

h1 {
    display: block;
    text-align: center;
    position: relative;
}

p  {
    display: inline;
    margin-left: 26px;
}